body{
    background-image: linear-gradient(to right, green , yellow);
}

header {
  justify-content: center;
  margin: auto;
  text-align: center;
}

.container {
  background-color: #eee;
  width: 90%;
  margin: auto;
  margin-top: 3%;
}

.ImageLink img {
  width: 85%;
  height: auto;
}

.quarterbacks{
 display: flex;
 margin-top: 6%;
 text-align: center;
}

footer{
    margin-top: 10px;
    text-align: left;
    padding-left: 5px;
    padding-bottom: 2px;
}