<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" href="../static/quarterbackStyle.css" />
    <title th:text="${quarterbackModel.name}"></title>
  </head>
  <body>
    <div class="conatiner">
      <header>
        <h1 th:text="${quarterbackModel.name}"></h1>
      </header>
      <main>
        <ul>
          <p><a href="/quarterbacks">quarterbacks</a></p>
          <li th:text="${quarterbackModel.name}"></li>
        </ul>
        <img th:src="${quarterbackModel.image}" alt=" " />
        <h2 th:text="${quarterbackModel.yearsActive}"></h2>
        <h2 th:text="${quarterbackModel.superBowlWins}"></h2>
        <h2 th:text="${quarterbackModel.passerRating}"></h2>
        <h2 th:text="${quarterbackModel.tdToInt}"></h2>
      </main>
      <footer>
        <small>&copy Tony Blankenship 2021</small>
      </footer>
    </div>
  </body>
</html>
